In [ ]:
# ładowanie danych
# struktura folderów
# dump
# -> lol
#    -> matches.bson.gz
#    -> matches.metadata.json.gz
#    -> timelines.bson.gz
#    -> timelines.metadata.json.gz

# mongorestore jest też wewnątrz kontenera, ale trzeba dostosować parametry

#!pip install pymongo

#!docker compose up -d
#!mongorestore --gzip --uri "mongodb://root:example@localhost:27017/admin" dump/

In [1]:
import pymongo
import pandas as pd
from tqdm import tqdm

In [2]:
client = pymongo.MongoClient("mongodb://localhost:27017/admin")

db = client.admin

# ensure indexes created
db.matches.create_index(("metadata.matchId", pymongo.HASHED))
db.timelines.create_index(("metadata.matchId", pymongo.HASHED))

'metadata.matchId_1_hashed_1'

In [ ]:
# przykład wyciągania danych (wyświetla matchId wszystkich meczy na mapie o id 11)
# 1 argument -> filter -> które dokbumenty wybrać można dać puste wtedy zwróci wszystkie
# 2 argument -> projekcja -> które pola z tych dokumentów zwrócić, można dać puste lub pominąć, wtedy zwróci cały obiekt

for document in db.matches.find({"info.mapId": 11}, {"metadata": {"matchId": 1}}):
    print(document["metadata"]["matchId"])

In [3]:
first_match = next(db.matches.find({}))

In [ ]:
first_match

In [5]:
first_timeline = next(db.timelines.find({}))

In [ ]:
first_timeline['info']['frames'][0]['participantFrames']

In [7]:
player_timeline_stats = first_timeline['info']['frames'][0]['participantFrames']['1']
list(player_timeline_stats.keys())

['championStats',
 'currentGold',
 'damageStats',
 'goldPerSecond',
 'jungleMinionsKilled',
 'level',
 'minionsKilled',
 'participantId',
 'position',
 'timeEnemySpentControlled',
 'totalGold',
 'xp']

In [8]:
first_timeline['info']['frames'][0]['participantFrames'].keys()

dict_keys(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'])

In [9]:
first_timeline['metadata']['matchId']

'EUW1_6882416210'

In [ ]:
main_features = []

for key, value in player_timeline_stats.items():
    print(f"Key: {key}, Type {type(value)}")
    if type(value) != dict:
        main_features.append(key)

print(main_features)

playerMainStats = [f"p{p_idx}_{stat_name}" for stat_name in main_features for p_idx in range(1,11)]
playerMainStats

In [ ]:
championStats = [f"p{p_idx}_championStats_{key}" for key in player_timeline_stats['championStats'].keys() for p_idx in range(1,11)]
championStats

In [ ]:
damageStats = [f"p{p_idx}_damageStats_{key}" for key in player_timeline_stats['damageStats'].keys() for p_idx in range(1,11)]
damageStats

In [13]:
baseFeatures = ['matchId', 'timeStamp']

In [14]:
all_features = baseFeatures + playerMainStats + championStats + damageStats
len(all_features)

462

In [15]:
total_docs = db.timelines.count_documents({})
total_docs

24217

In [16]:
results = {feature:[] for feature in all_features}

with tqdm(total=total_docs, desc="Processing documents") as pbar:
    for timeline in db.timelines.find({}):
        match_id = timeline['metadata']['matchId']
        for ts in range(0, len(timeline['info']['frames']), 2):
            results['matchId'].append(match_id)
            results['timeStamp'].append(ts)
            for p_idx, p_stats in timeline['info']['frames'][ts]['participantFrames'].items():
                for stat_name in main_features:
                    results[f"p{p_idx}_{stat_name}"].append(p_stats[stat_name])

                for stat_name, stat_val in p_stats['championStats'].items():
                    results[f"p{p_idx}_championStats_{stat_name}"].append(stat_val)

                for stat_name, stat_val in p_stats['damageStats'].items():
                    results[f"p{p_idx}_damageStats_{stat_name}"].append(stat_val)
                    
        pbar.update(1)

Processing documents: 100%|██████████████████████████████████████████████████████| 24217/24217 [08:21<00:00, 48.33it/s]

In [39]:
df = pd.DataFrame(results)
df.to_csv('data_csv/timestamps.csv', index=False)

In [40]:
df.to_parquet('data_csv/timestamps.parquet', index=False)

In [2]:
df_parquet = pd.read_parquet('data_csv/timestamps.parquet')
df_parquet.head()

,matchId,timeStamp,p1_currentGold,p2_currentGold,p3_currentGold,p4_currentGold,p5_currentGold,p6_currentGold,p7_currentGold,p8_currentGold,...,p1_damageStats_trueDamageTaken,p2_damageStats_trueDamageTaken,p3_damageStats_trueDamageTaken,p4_damageStats_trueDamageTaken,p5_damageStats_trueDamageTaken,p6_damageStats_trueDamageTaken,p7_damageStats_trueDamageTaken,p8_damageStats_trueDamageTaken,p9_damageStats_trueDamageTaken,p10_damageStats_trueDamageTaken
0,EUW1_6882416210,0,500,500,500,500,500,500,500,500,...,0,0,0,0,0,0,0,0,0,0
1,EUW1_6882416210,2,63,96,42,91,49,68,111,105,...,0,0,0,0,0,61,0,0,0,0
2,EUW1_6882416210,4,248,196,546,983,105,758,237,672,...,138,80,0,0,22,318,29,0,0,0
3,EUW1_6882416210,6,454,213,721,53,135,1075,222,571,...,258,80,0,0,22,471,209,0,0,40
4,EUW1_6882416210,8,410,841,94,1386,708,1076,773,166,...,709,80,0,56,22,719,209,0,0,40

In [37]:
df.shape

(363982, 462)

In [19]:
df.head()

,matchId,timeStamp,p1_currentGold,p2_currentGold,p3_currentGold,p4_currentGold,p5_currentGold,p6_currentGold,p7_currentGold,p8_currentGold,...,p1_damageStats_trueDamageTaken,p2_damageStats_trueDamageTaken,p3_damageStats_trueDamageTaken,p4_damageStats_trueDamageTaken,p5_damageStats_trueDamageTaken,p6_damageStats_trueDamageTaken,p7_damageStats_trueDamageTaken,p8_damageStats_trueDamageTaken,p9_damageStats_trueDamageTaken,p10_damageStats_trueDamageTaken
0,EUW1_6882416210,0,500,500,500,500,500,500,500,500,...,0,0,0,0,0,0,0,0,0,0
1,EUW1_6882416210,2,63,96,42,91,49,68,111,105,...,0,0,0,0,0,61,0,0,0,0
2,EUW1_6882416210,4,248,196,546,983,105,758,237,672,...,138,80,0,0,22,318,29,0,0,0
3,EUW1_6882416210,6,454,213,721,53,135,1075,222,571,...,258,80,0,0,22,471,209,0,0,40
4,EUW1_6882416210,8,410,841,94,1386,708,1076,773,166,...,709,80,0,56,22,719,209,0,0,40

In [34]:
df.columns

Index(['matchId', 'timeStamp', 'p1_currentGold', 'p2_currentGold',
       'p3_currentGold', 'p4_currentGold', 'p5_currentGold', 'p6_currentGold',
       'p7_currentGold', 'p8_currentGold',
       ...
       'p1_damageStats_trueDamageTaken', 'p2_damageStats_trueDamageTaken',
       'p3_damageStats_trueDamageTaken', 'p4_damageStats_trueDamageTaken',
       'p5_damageStats_trueDamageTaken', 'p6_damageStats_trueDamageTaken',
       'p7_damageStats_trueDamageTaken', 'p8_damageStats_trueDamageTaken',
       'p9_damageStats_trueDamageTaken', 'p10_damageStats_trueDamageTaken'],
      dtype='object', length=462)

In [3]:
total_matches = db.matches.count_documents({})
total_matches

24217

In [ ]:
first_match = next(db.matches.find({}))
first_match

In [25]:
first_match['metadata']['matchId']

'EUW1_6883129810'

In [26]:
first_match['info']['teams'][0]['win']

True

In [29]:
id_win_map = {}

with tqdm(total=total_docs, desc="Processing documents") as pbar:
    for match in db.matches.find({}):
        match_id = match['metadata']['matchId']
        first_win = match['info']['teams'][0]['win']
        id_win_map[match_id] = first_win
        
        pbar.update(1)

Processing documents: 100%|█████████████████████████████████████████████████████| 24217/24217 [01:39<00:00, 243.12it/s]

In [30]:
id_win_series = pd.Series(id_win_map)
id_win_series

EUW1_6883129810     True
EUW1_6882416210    False
EUW1_6881092720    False
EUW1_6879405717    False
EUW1_6879389461     True
                   ...
EUW1_6879148301     True
EUW1_6876522374     True
EUW1_6855216142    False
EUW1_6881022066    False
EUW1_6880978732    False
Length: 24217, dtype: bool

In [35]:
id_win_series.to_csv('data_csv/first_win.csv')

In [42]:
pd.read_csv('data_csv/first_win.csv')

            Unnamed: 0      0
0      EUW1_6883129810   True
1      EUW1_6882416210  False
2      EUW1_6881092720  False
3      EUW1_6879405717  False
4      EUW1_6879389461   True
...                ...    ...
24212  EUW1_6879148301   True
24213  EUW1_6876522374   True
24214  EUW1_6855216142  False
24215  EUW1_6881022066  False
24216  EUW1_6880978732  False

[24217 rows x 2 columns]

In [32]:
main_features = []

for key, value in first_match['info'].items():
    if type(value) not in [list, dict]:
        main_features.append(key)
    else:
        print(f"Key: {key}, Type {type(value)}")
            
main_features

Key: participants, Type <class 'list'>
Key: teams, Type <class 'list'>

['endOfGameResult',
 'gameCreation',
 'gameDuration',
 'gameEndTimestamp',
 'gameId',
 'gameMode',
 'gameName',
 'gameStartTimestamp',
 'gameType',
 'gameVersion',
 'mapId',
 'platformId',
 'queueId',
 'tournamentCode']

In [46]:
participants_features = []

for key, value in first_match['info']['participants'][0].items():
    if type(value) not in [list, dict]:
        participants_features.append(key)
    else:
        print(f"Key: {key}, Type {type(value)}")
    
participants_features

Key: challenges, Type <class 'dict'>
Key: missions, Type <class 'dict'>
Key: perks, Type <class 'dict'>

['allInPings',
 'assistMePings',
 'assists',
 'baronKills',
 'basicPings',
 'bountyLevel',
 'champExperience',
 'champLevel',
 'championId',
 'championName',
 'championTransform',
 'commandPings',
 'consumablesPurchased',
 'damageDealtToBuildings',
 'damageDealtToObjectives',
 'damageDealtToTurrets',
 'damageSelfMitigated',
 'dangerPings',
 'deaths',
 'detectorWardsPlaced',
 'doubleKills',
 'dragonKills',
 'eligibleForProgression',
 'enemyMissingPings',
 'enemyVisionPings',
 'firstBloodAssist',
 'firstBloodKill',
 'firstTowerAssist',
 'firstTowerKill',
 'gameEndedInEarlySurrender',
 'gameEndedInSurrender',
 'getBackPings',
 'goldEarned',
 'goldSpent',
 'holdPings',
 'individualPosition',
 'inhibitorKills',
 'inhibitorTakedowns',
 'inhibitorsLost',
 'item0',
 'item1',
 'item2',
 'item3',
 'item4',
 'item5',
 'item6',
 'itemsPurchased',
 'killingSprees',
 'kills',
 'lane',
 'largestCriticalStrike',
 'largestKillingSpree',
 'largestMultiKill',
 'longestTimeSpentLiving',
 'magicDamageDealt',
 'magicDamageDealtToChampions',
 'magicDamageTaken',
 'needVisionPings',
 'neutralMinionsKilled',
 'nexusKills',
 'nexusLost',
 'nexusTakedowns',
 'objectivesStolen',
 'objectivesStolenAssists',
 'onMyWayPings',
 'participantId',
 'pentaKills',
 'physicalDamageDealt',
 'physicalDamageDealtToChampions',
 'physicalDamageTaken',
 'placement',
 'playerAugment1',
 'playerAugment2',
 'playerAugment3',
 'playerAugment4',
 'playerSubteamId',
 'profileIcon',
 'pushPings',
 'puuid',
 'quadraKills',
 'riotIdGameName',
 'riotIdTagline',
 'role',
 'sightWardsBoughtInGame',
 'spell1Casts',
 'spell2Casts',
 'spell3Casts',
 'spell4Casts',
 'subteamPlacement',
 'summoner1Casts',
 'summoner1Id',
 'summoner2Casts',
 'summoner2Id',
 'summonerId',
 'summonerLevel',
 'summonerName',
 'teamEarlySurrendered',
 'teamId',
 'teamPosition',
 'timeCCingOthers',
 'timePlayed',
 'totalAllyJungleMinionsKilled',
 'totalDamageDealt',
 'totalDamageDealtToChampions',
 'totalDamageShieldedOnTeammates',
 'totalDamageTaken',
 'totalEnemyJungleMinionsKilled',
 'totalHeal',
 'totalHealsOnTeammates',
 'totalMinionsKilled',
 'totalTimeCCDealt',
 'totalTimeSpentDead',
 'totalUnitsHealed',
 'tripleKills',
 'trueDamageDealt',
 'trueDamageDealtToChampions',
 'trueDamageTaken',
 'turretKills',
 'turretTakedowns',
 'turretsLost',
 'unrealKills',
 'visionClearedPings',
 'visionScore',
 'visionWardsBoughtInGame',
 'wardsKilled',
 'wardsPlaced',
 'win']

In [ ]:
combined_participant_features = [f"p{p_idx}_{feature_name}" for feature_name in participants_features for p_idx in range(10)]
#IMPORTANT! - player in matches indexing from 0 to 9, in timeline from 1 to 10
combined_participant_features

In [ ]:
combined_perk_stats_features = [f"p{p_idx}_statPerks_{key}" 
                                for key in first_match['info']['participants'][0]['perks']['statPerks'].keys()
                                for p_idx in range(10)]

combined_perk_stats_features

In [ ]:
combined_challenges_features = [f"p{p_idx}_challenges_{key}" 
                                for key in first_match['info']['participants'][0]['challenges'].keys()
                                for p_idx in range(10)]

combined_challenges_features

In [28]:
teams_features = []

for key, value in first_match['info']['teams'][0].items():
    if type(value) not in [list, dict]:
        teams_features.append(key)
    else:
        print(f"Key: {key}, Type {type(value)}")
    
teams_features

Key: bans, Type <class 'list'>
Key: objectives, Type <class 'dict'>

['teamId', 'win']

In [ ]:
combined_bans_features = [f"t{t_idx}_p{p_idx}_bans_{key}"
                            for key in first_match['info']['teams'][0]['bans'][0].keys()
                            for t_idx in [0, 1]
                            for p_idx in range(5)]

combined_bans_features

In [ ]:
combined_objectives_features = [f"t{t_idx}_objectives_{key}_{subkey}"
                          for key in first_match['info']['teams'][0]['objectives'].keys()
                          for subkey in first_match['info']['teams'][0]['objectives']['baron'].keys()
                          for t_idx in [0, 1]]

combined_objectives_features

In [31]:
first_match['info']['teams'][1]['objectives']

{'baron': {'first': False, 'kills': 0},
 'champion': {'first': False, 'kills': 35},
 'dragon': {'first': False, 'kills': 1},
 'horde': {'first': True, 'kills': 3},
 'inhibitor': {'first': False, 'kills': 0},
 'riftHerald': {'first': False, 'kills': 0},
 'tower': {'first': False, 'kills': 3}}

In [71]:
all_features = ['matchId'] + main_features + combined_participant_features + combined_perk_stats_features + combined_bans_features + combined_objectives_features
# combined_challenges_features

len(all_features)

1363

In [85]:

for other_p in range(1, 10): 
    print(f"Challanges that p0 has, but p{other_p} not:")
    for p0_challenge in first_match['info']['participants'][0]['challenges'].keys():
        if p0_challenge not in first_match['info']['participants'][other_p]['challenges'].keys():
            print("  - ", p0_challenge)

Challanges that p0 has, but p1 not:
  -  getTakedownsInAllLanesEarlyJungleAsLaner
  -  highestChampionDamage
  -  killsOnOtherLanesEarlyJungleAsLaner
  -  soloTurretsLategame
Challanges that p0 has, but p2 not:
  -  highestChampionDamage
  -  soloTurretsLategame
Challanges that p0 has, but p3 not:
  -  highestChampionDamage
Challanges that p0 has, but p4 not:
  -  earliestDragonTakedown
  -  highestChampionDamage
  -  soloTurretsLategame
Challanges that p0 has, but p5 not:
  -  baronBuffGoldAdvantageOverThreshold
  -  earliestBaron
  -  firstTurretKilledTime
  -  highestChampionDamage
  -  thirdInhibitorDestroyedTime
Challanges that p0 has, but p6 not:
  -  baronBuffGoldAdvantageOverThreshold
  -  earliestBaron
  -  firstTurretKilledTime
  -  getTakedownsInAllLanesEarlyJungleAsLaner
  -  highestChampionDamage
  -  killsOnOtherLanesEarlyJungleAsLaner
  -  soloTurretsLategame
  -  thirdInhibitorDestroyedTime
Challanges that p0 has, but p7 not:
  -  baronBuffGoldAdvantageOverThreshold
  -  earliestBaron
  -  earliestDragonTakedown
  -  firstTurretKilledTime
  -  highestChampionDamage
  -  soloTurretsLategame
  -  thirdInhibitorDestroyedTime
Challanges that p0 has, but p8 not:
  -  baronBuffGoldAdvantageOverThreshold
  -  earliestBaron
  -  earliestDragonTakedown
  -  firstTurretKilledTime
  -  highestChampionDamage
  -  thirdInhibitorDestroyedTime
Challanges that p0 has, but p9 not:
  -  baronBuffGoldAdvantageOverThreshold
  -  earliestBaron
  -  firstTurretKilledTime
  -  highestChampionDamage
  -  soloTurretsLategame
  -  thirdInhibitorDestroyedTime

In [89]:
matches_results = {feature: [] for feature in all_features}

with tqdm(total=total_matches, desc="Processing documents") as pbar:
    for match in db.matches.find({}):           
        match_id = match['metadata']['matchId']
        matches_results['matchId'].append(match_id)
        
        for key, value in match['info'].items():
            if type(value) not in [dict, list]:
                matches_results[key].append(value)
        
        for p_idx in range(10):
            for key, value in match['info']['participants'][p_idx].items():
                if type(value) not in [dict, list]:
                    if f"p{p_idx}_{key}" in matches_results.keys():
                        matches_results[f"p{p_idx}_{key}"].append(value)
            
            for key, value in match['info']['participants'][p_idx]['perks']['statPerks'].items():
                matches_results[f"p{p_idx}_statPerks_{key}"].append(value)
                
            #for key, value in match['info']['participants'][p_idx]['challenges'].items():
            #    matches_results[f"p{p_idx}_challenges_{key}"].append(value)
            
        for t_idx in [0, 1]:
            for p_idx in range(5):
                for key, value in match['info']['teams'][t_idx]['bans'][p_idx].items():
                    matches_results[f"t{t_idx}_p{p_idx}_bans_{key}"].append(value)
                        
            for key, subdict in match['info']['teams'][t_idx]['objectives'].items():
                for subkey, value in subdict.items():
                    matches_results[f"t{t_idx}_objectives_{key}_{subkey}"].append(value)
        
        pbar.update(1)

Processing documents: 100%|█████████████████████████████████████████████████████| 24217/24217 [00:48<00:00, 495.69it/s]

In [90]:
not_full_columns = []

for key, value in matches_results.items():
    if len(value) != total_matches:
        print(f"{key} -> {len(value)}")
        not_full_columns.append(key)

endOfGameResult -> 23908
p0_placement -> 24215
p1_placement -> 24215
p2_placement -> 24215
p3_placement -> 24215
p4_placement -> 24215
p5_placement -> 24215
p6_placement -> 24215
p7_placement -> 24215
p8_placement -> 24215
p9_placement -> 24215
p0_playerAugment1 -> 24216
p1_playerAugment1 -> 24216
p2_playerAugment1 -> 24216
p3_playerAugment1 -> 24216
p4_playerAugment1 -> 24216
p5_playerAugment1 -> 24216
p6_playerAugment1 -> 24216
p7_playerAugment1 -> 24216
p8_playerAugment1 -> 24216
p9_playerAugment1 -> 24216
p0_playerAugment2 -> 24216
p1_playerAugment2 -> 24216
p2_playerAugment2 -> 24216
p3_playerAugment2 -> 24216
p4_playerAugment2 -> 24216
p5_playerAugment2 -> 24216
p6_playerAugment2 -> 24216
p7_playerAugment2 -> 24216
p8_playerAugment2 -> 24216
p9_playerAugment2 -> 24216
p0_playerAugment3 -> 24216
p1_playerAugment3 -> 24216
p2_playerAugment3 -> 24216
p3_playerAugment3 -> 24216
p4_playerAugment3 -> 24216
p5_playerAugment3 -> 24216
p6_playerAugment3 -> 24216
p7_playerAugment3 -> 24216
p8_playerAugment3 -> 24216
p9_playerAugment3 -> 24216
p0_playerAugment4 -> 24216
p1_playerAugment4 -> 24216
p2_playerAugment4 -> 24216
p3_playerAugment4 -> 24216
p4_playerAugment4 -> 24216
p5_playerAugment4 -> 24216
p6_playerAugment4 -> 24216
p7_playerAugment4 -> 24216
p8_playerAugment4 -> 24216
p9_playerAugment4 -> 24216
p0_playerSubteamId -> 24216
p1_playerSubteamId -> 24216
p2_playerSubteamId -> 24216
p3_playerSubteamId -> 24216
p4_playerSubteamId -> 24216
p5_playerSubteamId -> 24216
p6_playerSubteamId -> 24216
p7_playerSubteamId -> 24216
p8_playerSubteamId -> 24216
p9_playerSubteamId -> 24216
p0_riotIdGameName -> 24194
p1_riotIdGameName -> 24194
p2_riotIdGameName -> 24194
p3_riotIdGameName -> 24194
p4_riotIdGameName -> 24194
p5_riotIdGameName -> 24194
p6_riotIdGameName -> 24194
p7_riotIdGameName -> 24194
p8_riotIdGameName -> 24194
p9_riotIdGameName -> 24194
p0_subteamPlacement -> 24216
p1_subteamPlacement -> 24216
p2_subteamPlacement -> 24216
p3_subteamPlacement -> 24216
p4_subteamPlacement -> 24216
p5_subteamPlacement -> 24216
p6_subteamPlacement -> 24216
p7_subteamPlacement -> 24216
p8_subteamPlacement -> 24216
p9_subteamPlacement -> 24216
p0_totalAllyJungleMinionsKilled -> 24216
p1_totalAllyJungleMinionsKilled -> 24216
p2_totalAllyJungleMinionsKilled -> 24216
p3_totalAllyJungleMinionsKilled -> 24216
p4_totalAllyJungleMinionsKilled -> 24216
p5_totalAllyJungleMinionsKilled -> 24216
p6_totalAllyJungleMinionsKilled -> 24216
p7_totalAllyJungleMinionsKilled -> 24216
p8_totalAllyJungleMinionsKilled -> 24216
p9_totalAllyJungleMinionsKilled -> 24216
p0_totalEnemyJungleMinionsKilled -> 24216
p1_totalEnemyJungleMinionsKilled -> 24216
p2_totalEnemyJungleMinionsKilled -> 24216
p3_totalEnemyJungleMinionsKilled -> 24216
p4_totalEnemyJungleMinionsKilled -> 24216
p5_totalEnemyJungleMinionsKilled -> 24216
p6_totalEnemyJungleMinionsKilled -> 24216
p7_totalEnemyJungleMinionsKilled -> 24216
p8_totalEnemyJungleMinionsKilled -> 24216
p9_totalEnemyJungleMinionsKilled -> 24216
t0_objectives_horde_first -> 24214
t1_objectives_horde_first -> 24214
t0_objectives_horde_kills -> 24214
t1_objectives_horde_kills -> 24214

In [91]:
len(not_full_columns)

105

In [92]:
filtered_matches_results = {key: value for key, value in matches_results.items() if key not in not_full_columns}
#TODO - maybe we can find some better solution for this problem, not to delete whole columns because of 1-3 missing valuesS

In [93]:
matches_df = pd.DataFrame(filtered_matches_results)
matches_df

,matchId,gameCreation,gameDuration,gameEndTimestamp,gameId,gameMode,gameName,gameStartTimestamp,gameType,gameVersion,...,t0_objectives_inhibitor_kills,t1_objectives_inhibitor_kills,t0_objectives_riftHerald_first,t1_objectives_riftHerald_first,t0_objectives_riftHerald_kills,t1_objectives_riftHerald_kills,t0_objectives_tower_first,t1_objectives_tower_first,t0_objectives_tower_kills,t1_objectives_tower_kills
0,EUW1_6883129810,1712084570608,2142,1712086738289,6883129810,CLASSIC,teambuilder-match-6883129810,1712084595523,MATCHED_GAME,14.6.570.6276,...,4,0,False,False,0,0,True,False,11,3
1,EUW1_6882416210,1712046205448,1623,1712047855825,6882416210,CLASSIC,teambuilder-match-6882416210,1712046232712,MATCHED_GAME,14.6.570.6276,...,0,2,False,True,0,1,False,True,5,10
2,EUW1_6881092720,1711972830768,1701,1711974582700,6881092720,CLASSIC,teambuilder-match-6881092720,1711972881130,MATCHED_GAME,14.6.570.6276,...,0,0,False,True,0,1,False,True,3,8
3,EUW1_6879405717,1711872829956,1525,1711874389709,6879405717,CLASSIC,teambuilder-match-6879405717,1711872863863,MATCHED_GAME,14.6.570.6276,...,0,1,True,False,1,0,True,False,3,8
4,EUW1_6879389461,1711869886553,1783,1711871742154,6879389461,CLASSIC,teambuilder-match-6879389461,1711869958422,MATCHED_GAME,14.6.570.6276,...,1,0,True,False,1,0,True,False,11,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24212,EUW1_6879148301,1711843390413,1402,1711844809696,6879148301,CLASSIC,teambuilder-match-6879148301,1711843406996,MATCHED_GAME,14.6.570.6276,...,1,0,True,False,1,0,True,False,6,3
24213,EUW1_6876522374,1711702852324,1716,1711704647398,6876522374,CLASSIC,teambuilder-match-6876522374,1711702931468,MATCHED_GAME,14.6.570.6276,...,3,0,False,False,0,0,True,False,11,4
24214,EUW1_6855216142,1710369345761,1739,1710371189083,6855216142,CLASSIC,teambuilder-match-6855216142,1710369449693,MATCHED_GAME,14.5.565.1230,...,0,4,True,False,1,0,False,True,3,11
24215,EUW1_6881022066,1711969196414,1594,1711970807404,6881022066,CLASSIC,teambuilder-match-6881022066,1711969212950,MATCHED_GAME,14.6.570.6276,...,0,2,False,True,0,1,False,True,1,10
24216,EUW1_6880978732,1711966229384,1989,1711968274823,6880978732,CLASSIC,teambuilder-match-6880978732,1711966285047,MATCHED_GAME,14.6.570.6276,...,0,1,True,False,1,0,True,False,3,7

In [95]:
matches_df.to_csv('data_csv/matches.csv', index=False)