In [ ]:
# ładowanie danych
# struktura folderów
# dump
# -> lol
#    -> matches.bson.gz
#    -> matches.metadata.json.gz
#    -> timelines.bson.gz
#    -> timelines.metadata.json.gz

# mongorestore jest też wewnątrz kontenera, ale trzeba dostosować parametry

#!pip install pymongo

#!docker compose up -d
#!mongorestore --gzip --uri "mongodb://root:example@localhost:27017/admin" dump/

In [1]:
import pymongo
import pandas as pd
from tqdm import tqdm

In [2]:
client = pymongo.MongoClient("mongodb://localhost:27017/admin")

db = client.admin

# ensure indexes created
db.matches.create_index(("metadata.matchId", pymongo.HASHED))
db.timelines.create_index(("metadata.matchId", pymongo.HASHED))

'metadata.matchId_1_hashed_1'

In [ ]:
# przykład wyciągania danych (wyświetla matchId wszystkich meczy na mapie o id 11)
# 1 argument -> filter -> które dokbumenty wybrać można dać puste wtedy zwróci wszystkie
# 2 argument -> projekcja -> które pola z tych dokumentów zwrócić, można dać puste lub pominąć, wtedy zwróci cały obiekt

for document in db.matches.find({"info.mapId": 11}, {"metadata": {"matchId": 1}}):
    print(document["metadata"]["matchId"])

In [3]:
first_match = next(db.matches.find({}))

In [ ]:
first_match

In [5]:
first_timeline = next(db.timelines.find({}))

In [ ]:
first_timeline['info']['frames'][0]['participantFrames']

In [7]:
player_timeline_stats = first_timeline['info']['frames'][0]['participantFrames']['1']
list(player_timeline_stats.keys())

['championStats',
 'currentGold',
 'damageStats',
 'goldPerSecond',
 'jungleMinionsKilled',
 'level',
 'minionsKilled',
 'participantId',
 'position',
 'timeEnemySpentControlled',
 'totalGold',
 'xp']

In [8]:
first_timeline['info']['frames'][0]['participantFrames'].keys()

dict_keys(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'])

In [9]:
first_timeline['metadata']['matchId']

'EUW1_6882416210'

In [ ]:
main_features = []

for key, value in player_timeline_stats.items():
    print(f"Key: {key}, Type {type(value)}")
    if type(value) != dict:
        main_features.append(key)

print(main_features)

playerMainStats = [f"p{p_idx}_{stat_name}" for stat_name in main_features for p_idx in range(1,11)]
playerMainStats

In [ ]:
championStats = [f"p{p_idx}_championStats_{key}" for key in player_timeline_stats['championStats'].keys() for p_idx in range(1,11)]
championStats

In [ ]:
damageStats = [f"p{p_idx}_damageStats_{key}" for key in player_timeline_stats['damageStats'].keys() for p_idx in range(1,11)]
damageStats

In [13]:
baseFeatures = ['matchId', 'timeStamp']

In [14]:
all_features = baseFeatures + playerMainStats + championStats + damageStats
len(all_features)

462

In [15]:
total_docs = db.timelines.count_documents({})
total_docs

24217

In [16]:
results = {feature:[] for feature in all_features}

with tqdm(total=total_docs, desc="Processing documents") as pbar:
    for timeline in db.timelines.find({}):
        match_id = timeline['metadata']['matchId']
        for ts in range(0, len(timeline['info']['frames']), 2):
            results['matchId'].append(match_id)
            results['timeStamp'].append(ts)
            for p_idx, p_stats in timeline['info']['frames'][ts]['participantFrames'].items():
                for stat_name in main_features:
                    results[f"p{p_idx}_{stat_name}"].append(p_stats[stat_name])

                for stat_name, stat_val in p_stats['championStats'].items():
                    results[f"p{p_idx}_championStats_{stat_name}"].append(stat_val)

                for stat_name, stat_val in p_stats['damageStats'].items():
                    results[f"p{p_idx}_damageStats_{stat_name}"].append(stat_val)
                    
        pbar.update(1)

Processing documents: 100%|██████████████████████████████████████████████████████| 24217/24217 [08:21<00:00, 48.33it/s]

In [39]:
df = pd.DataFrame(results)
df.to_csv('data_csv/timestamps.csv', index=False)

In [40]:
df.to_parquet('data_csv/timestamps.parquet', index=False)

In [2]:
df_parquet = pd.read_parquet('data_csv/timestamps.parquet')
df_parquet.head()

,matchId,timeStamp,p1_currentGold,p2_currentGold,p3_currentGold,p4_currentGold,p5_currentGold,p6_currentGold,p7_currentGold,p8_currentGold,...,p1_damageStats_trueDamageTaken,p2_damageStats_trueDamageTaken,p3_damageStats_trueDamageTaken,p4_damageStats_trueDamageTaken,p5_damageStats_trueDamageTaken,p6_damageStats_trueDamageTaken,p7_damageStats_trueDamageTaken,p8_damageStats_trueDamageTaken,p9_damageStats_trueDamageTaken,p10_damageStats_trueDamageTaken
0,EUW1_6882416210,0,500,500,500,500,500,500,500,500,...,0,0,0,0,0,0,0,0,0,0
1,EUW1_6882416210,2,63,96,42,91,49,68,111,105,...,0,0,0,0,0,61,0,0,0,0
2,EUW1_6882416210,4,248,196,546,983,105,758,237,672,...,138,80,0,0,22,318,29,0,0,0
3,EUW1_6882416210,6,454,213,721,53,135,1075,222,571,...,258,80,0,0,22,471,209,0,0,40
4,EUW1_6882416210,8,410,841,94,1386,708,1076,773,166,...,709,80,0,56,22,719,209,0,0,40

In [37]:
df.shape

(363982, 462)

In [19]:
df.head()

,matchId,timeStamp,p1_currentGold,p2_currentGold,p3_currentGold,p4_currentGold,p5_currentGold,p6_currentGold,p7_currentGold,p8_currentGold,...,p1_damageStats_trueDamageTaken,p2_damageStats_trueDamageTaken,p3_damageStats_trueDamageTaken,p4_damageStats_trueDamageTaken,p5_damageStats_trueDamageTaken,p6_damageStats_trueDamageTaken,p7_damageStats_trueDamageTaken,p8_damageStats_trueDamageTaken,p9_damageStats_trueDamageTaken,p10_damageStats_trueDamageTaken
0,EUW1_6882416210,0,500,500,500,500,500,500,500,500,...,0,0,0,0,0,0,0,0,0,0
1,EUW1_6882416210,2,63,96,42,91,49,68,111,105,...,0,0,0,0,0,61,0,0,0,0
2,EUW1_6882416210,4,248,196,546,983,105,758,237,672,...,138,80,0,0,22,318,29,0,0,0
3,EUW1_6882416210,6,454,213,721,53,135,1075,222,571,...,258,80,0,0,22,471,209,0,0,40
4,EUW1_6882416210,8,410,841,94,1386,708,1076,773,166,...,709,80,0,56,22,719,209,0,0,40

In [34]:
df.columns

Index(['matchId', 'timeStamp', 'p1_currentGold', 'p2_currentGold',
       'p3_currentGold', 'p4_currentGold', 'p5_currentGold', 'p6_currentGold',
       'p7_currentGold', 'p8_currentGold',
       ...
       'p1_damageStats_trueDamageTaken', 'p2_damageStats_trueDamageTaken',
       'p3_damageStats_trueDamageTaken', 'p4_damageStats_trueDamageTaken',
       'p5_damageStats_trueDamageTaken', 'p6_damageStats_trueDamageTaken',
       'p7_damageStats_trueDamageTaken', 'p8_damageStats_trueDamageTaken',
       'p9_damageStats_trueDamageTaken', 'p10_damageStats_trueDamageTaken'],
      dtype='object', length=462)

In [27]:
total_matches = db.matches.count_documents({})
total_matches

24217

In [ ]:
first_match = next(db.matches.find({}))
first_match

In [25]:
first_match['metadata']['matchId']

'EUW1_6883129810'

In [26]:
first_match['info']['teams'][0]['win']

True

In [29]:
id_win_map = {}

with tqdm(total=total_docs, desc="Processing documents") as pbar:
    for match in db.matches.find({}):
        match_id = match['metadata']['matchId']
        first_win = match['info']['teams'][0]['win']
        id_win_map[match_id] = first_win
        
        pbar.update(1)

Processing documents: 100%|█████████████████████████████████████████████████████| 24217/24217 [01:39<00:00, 243.12it/s]

In [30]:
id_win_series = pd.Series(id_win_map)
id_win_series

EUW1_6883129810     True
EUW1_6882416210    False
EUW1_6881092720    False
EUW1_6879405717    False
EUW1_6879389461     True
                   ...
EUW1_6879148301     True
EUW1_6876522374     True
EUW1_6855216142    False
EUW1_6881022066    False
EUW1_6880978732    False
Length: 24217, dtype: bool

In [35]:
id_win_series.to_csv('data_csv/first_win.csv')

In [42]:
pd.read_csv('data_csv/first_win.csv')

            Unnamed: 0      0
0      EUW1_6883129810   True
1      EUW1_6882416210  False
2      EUW1_6881092720  False
3      EUW1_6879405717  False
4      EUW1_6879389461   True
...                ...    ...
24212  EUW1_6879148301   True
24213  EUW1_6876522374   True
24214  EUW1_6855216142  False
24215  EUW1_6881022066  False
24216  EUW1_6880978732  False

[24217 rows x 2 columns]